<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Edit Member Meal</title>
</head>
<body>
	<div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')" align="center" >
		<h1>Edit Member Meal</h1>
		<br/>
		<div th:if = "${error}">
			<p th:text="${error}"></p>
		</div>
		<form th:action="@{/meal/member/edit/update}" method="post" th:object="${memberMeal}">
			<table border="0" cellpadding="10">
				<tr>
					<td>Member Meal ID:</td>
					<td><input type="text" th:field="*{id}" required readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Meal Quantity:</td>
					<td><input type="number" name="quantity" th:field="*{quantity}" required /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Update</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>