<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Edit Meal Date</title>
</head>
<body>
	<div sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')" align="center" >
		<h1>Edit Meal Time Date</h1>
		<br/>
		<div th:if = "${error}">
			<p th:text="${error}"></p>
		</div>
		<form method="post" th:object="${mealDate}">
			<table border="0" cellpadding="10">
				<tr>
					<td>Meal Date ID:</td>
					<td><input type="text" th:field="*{id}" required readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Meal Date Meal Name:</td>
					<td>
						<select required name="meal" th:field="*{meal.id}" >
							<option th:each="mealEach : ${meals}"
									th:value="${mealEach.id}"
									th:text="${mealEach.name}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Meal Date:</td>
					<td><input type="date" th:field="*{mealDate}" required /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Update</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>