<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head_link_up">
  <!--  Title -->
  <title th:text = "${title}"></title>
  <!--  Required Meta Tag -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="handheldfriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description"
        content="Easy Solution for handling mess request for member and handel the meal complexities." />
  <meta name="author" content="Francis Rudra D Cruze" />
  <meta name="keywords" content="MASSMS" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--  Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{../../images/logo/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{../../images/logo/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{../../images/logo/favicon-16x16.png}">
  <link rel="manifest" th:href="@{../../images/logo/site.webmanifest}">
  <link rel="mask-icon" th:href="@{../../images/logo/safari-pinned-tab.svg}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" th:href="@{../../images/logo/favicon.ico}" type="image/x-icon">
  <!-- Owl Carousel  -->
  <link rel="stylesheet" th:href="@{../../libs/owl.carousel/dist/assets/owl.carousel.min.css}">

  <!-- Core Css -->
  <link id="themeColors" rel="stylesheet" th:href="@{../../css/style.min.css}" />
</head>
<body>

  <!-- Preloader -->
  <div th:fragment="preloader" class="preloader">
    <img th:src="@{../../images/logo/favicon.ico}" alt="loader" class="lds-ripple img-fluid" />
  </div>


  <div th:fragment="scripts">
    <!--  Import Js Files -->
    <script th:src="@{../../libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{../../libs/simplebar/dist/simplebar.min.js}"></script>
    <script th:src="@{../../libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!--  core files -->
    <script th:src="@{../../js/app.min.js}"></script>
    <script th:src="@{../../js/app.init.js}"></script>
    <script th:src="@{../../js/app-style-switcher.js}"></script>
    <script th:src="@{../../js/sidebarmenu.js}"></script>
    <script th:src="@{../../js/custom.js}"></script>
    <!--  current page js files -->
    <script th:src="@{../../libs/owl.carousel/dist/owl.carousel.min.js}"></script>
    <script th:src="@{../../libs/apexcharts/dist/apexcharts.min.js}"></script>
    <script th:src="@{../../js/dashboard.js}"></script>
  </div>
</body>
</html>