<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="fragment :: head_link_up"></head>
<body>

<!-- Preloader -->
<div th:replace="fragment :: preloader"></div>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">

  <!-- Sidebar -->
  <aside th:replace="fragment :: sidebar" class="left-sidebar"></aside>

  <div class="body-wrapper">

    <!-- Header Start -->
    <header th:replace="fragment :: header" class="app-header"></header>

    <div class="container-fluid">

      <div class="mt-3 px-4 py-3" th:if="${success}">
        <div th:replace="fragment :: successAlertBg"></div>
      </div>
      <div class="mt-3 mb-6 px-4 py-3" th:if="${error}">
        <div th:replace="fragment :: errorAlertBg"></div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4" th:each="massEach : ${massList}" th:if="${massEach.isApproved()}">
          <div class="card rounded-2 overflow-hidden hover-img">
            <div class="position-relative">
              <a href="javascript:void(0)"><img th:src="@{../../images/blog/mass-home.jpg}" class="card-img-top rounded-0" alt="Mass Image"></a>
              <span class="badge bg-white text-dark fs-2 rounded-4 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0"><a th:href="${'tel:+88' + massEach.contact}" th:text="${massEach.contact}"></a></span>
              <img th:src="@{../../images/profile/user-2.jpg}" th:alt="${massEach.user.firstName + ' ' + massEach.user.lastName}" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Walter Palmer">
            </div>
            <div class="card-body p-4">
              <span class="badge text-bg-light fs-2 rounded-4 py-1 px-2 lh-sm  mt-3" th:text="${massEach.user.firstName + ' ' + massEach.user.lastName}"></span>
              <a class="d-block my-4 fs-5 text-dark fw-semibold" th:href="@{'/mass/' + ${massEach.url}}" th:text="${massEach.name}"></a>
              <p class="text-muted" th:text="${massEach.address}"></p>
              <div class="d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-2"><i class="ti ti-users fs-5"></i><span th:text="${massEach.getMessMemberList().size()}"></span></div>
              </div>
              <div class="align-items-center mt-3" sec:authorize="isAuthenticated()">
                <form th:object="${massMember}" th:action="@{'/mass/' + ${massEach.url} + '/member/request'}" method="post">
                  <button type="submit" class="btn waves-effect waves-light btn-primary w-100">
                    <i class="ti ti-user-share mx-2"></i> Send Member Request
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Mobile navbar -->
<div th:replace="fragment :: mobilenav"></div>
<div th:replace="fragment :: scripts"></div>
</body>
</html>