<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Meals</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>

		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Meal Manager - <span th:text="${meals.size()}"></span></h1>
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a th:href="@{/meal/new}">Create New Time</a>
	</div>

	<div th:if = "${success}">
		<p th:text="${success}"></p>
	</div>

	<div th:if = "${error}">
		<p th:text="${error}"></p>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Allergens</th>
				<th>Serving Size</th>
				<th>Price</th>
				<th>Serve Time</th>
				<th>Mass Name</th>
				<th>Mass Url</th>
				<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="meal : ${meals}">
				<td th:text="${meal.id}">Meal Id</td>
				<td th:text="${meal.name}">Meal Name</td>
				<td th:text="${meal.description}">Meal Description</td>
				<td th:text="${meal.allergens}">Meal Allergens</td>
				<td th:text="${meal.servingSize}">Meal Serving Size</td>
				<td th:text="${meal.price}">Meal Price</td>
				<td th:title="${meal.serveTime.startTime} + ' ' + ${meal.serveTime.endTime}" th:text="${meal.serveTime.identifier}">Serve Time</td>
				<td th:text="${meal.mass.name}">Meal Mass Name</td>
				<td th:text="${meal.mass.url}">Meal Mass URL</td>

				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/meal/edit/' + ${meal.id}}">Edit</a>
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/meal/delete/' + ${meal.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>