<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Meals</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>

		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Meal Manager - <span th:text="${memberMealList.size()}"></span></h1>

	<div th:if = "${success}">
		<p th:text="${success}"></p>
	</div>

	<div th:if = "${error}">
		<p th:text="${error}"></p>
	</div>
	
	<br/><br/>
	<form th:action="@{/meal/member/add}" method="post" th:object="${newMemberMeal}">
		<table border="0" cellpadding="10">
				<tr>
					<td><input type="number" name="quantity" th:field="*{quantity}"></td>
					<td>
						<select placeholder="Select Meal" required name="meal" id="meal" th:field="*{mealDate.id}" >
							<option th:each="mealDateEach : ${mealDateService}"
									th:value="${mealDateEach.id}"
									th:text="${mealDateEach.meal.name} + ' - ' + ${#dates.format(mealDateEach.mealDate, 'dd-MM-yyyy')}"></option>
						</select>
					</td>
					<td>
						<select placeholder="Select User" required name="user" id="user" th:field="*{user.id}" >
							<option th:each="userEach : ${listUser}"
									th:value="${userEach.id}"
									th:text="${userEach.username}"></option>
						</select>
					</td>
					<td><button type="submit">Add New Member</button></td>
				</tr>
		</table>
	</form>

	<br>
	<br>
	<br>

	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Id</th>
				<th>Quantity</th>
				<th>User Name</th>
				<th>Meal Name</th>
				<th>Meal Size</th>
				<th>Meal Price</th>
				<th>Meal Total Price</th>
				<th>Meal Date</th>
				<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${memberMealList}">
				<td th:text="${member.id}">Meal Id</td>
				<td th:text="${member.quantity}">Meal Quantity</td>
				<td th:text="${member.user.username}">Meal User Name</td>
				<td th:text="${member.mealDate.meal.name}">Meal Name</td>
				<td th:text="${member.mealDate.meal.servingSize}">Meal Size</td>
				<td th:text="${member.mealDate.meal.price}">Meal Price</td>
				<td th:text="${member.mealDate.meal.price} * ${member.quantity}">Meal Price</td>
				<td th:text="${#dates.format(member.mealDate.mealDate, 'dd-MM-yyyy')}">Meal Date</td>
				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/meal/member/edit/' + ${member.id}}">Edit</a>
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/meal/member/delete/' + ${member.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>