<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Create New Meal</title>
</head>
	<body>
		<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')" align="center" >
			<h1>Create New Meal</h1>
			<br/>
			<form action="#" th:action="@{/meal/time/new/save}" th:object="${meal}" method="post">
				<table border="0" cellpadding="10">
					<tr>
						<td>Meal Name:</td>
						<td><input type="text" th:field="*{name}" required /></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>
							<textarea placeholder="Description" th:field="*{description}" id="description" name="description"></textarea>
						</td>
					</tr>
					<tr>
						<td>Serving Size</td>
						<td>
							<select name="servingSize" id="servingSize" th:field="*{servingSize}" required>
								<option value="1:1" selected>1:1</option>
								<option value="1:2">1:2</option>
								<option value="1:3">1:3</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Allergens:</td>
						<td><input type="text" th:field="*{allergens}" required name="allergens" id="allergens"></td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><input type="number" th:field="*{price}" name="price" required id="price" placeholder="$100"></td>
					</tr>
					<tr>
						<td>Serve Time:</td>
						<td>
							<select name="serveTime" id="serveTime" th:field="*{serveTime}" required>
								<option th:each="serveTime : ${serveTimes}"
										th:value="${serveTime.id}"
										th:text="${serveTime.identifier}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
						<td colspan="2"><button type="reset">Clear</button></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>