<!DOCTYPE html>
<html lang="en">
<head>
  <!--  Title -->
  <title>MASSMS - Register</title>
  <!--  Required Meta Tag -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="handheldfriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description"
    content="Easy Solution for handling mess request for member and handel the meal complexities." />
  <meta name="author" content="Francis Rudra D Cruze" />
  <meta name="keywords" content="MASSMS" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--  Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/logo/favicon-16x16.png">
  <link rel="manifest" href="images/logo/site.webmanifest">
  <link rel="mask-icon" href="images/logo/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="images/logo/favicon.ico" type="image/x-icon">
  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">

  <!-- Core Css -->
  <link id="themeColors" rel="stylesheet" href="css/style.min.css" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
      <img src="images/logo/favicon.ico" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-10 col-lg-10 col-xxl-4">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="index.html" class="text-nowrap logo-img text-center d-block mb-4 w-100">
                    <img src="images/logo/dark-logo.svg" width="180" alt="MASSMS Logo">
                  </a>
                  <div class="position-relative text-center mb-4 mt-0">
                    <p class="mb-0 fs-4 px-3 d-inline-block bg-white z-index-5 position-relative">Sign Up</p>
                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                  </div>
                  <form>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" aria-describedby="textHelp">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" aria-describedby="textHelp">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label for="gender" class="form-label">Gender</label>
                      <select class="form-select mr-sm-2" id="gender">
                        <option selected>Choose...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Special">Special</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="row">
                      <div class="mb-4 col-lg-6 col-md-6 col-sm-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                      </div>
                      <div class="mb-4 col-lg-6 col-md-6 col-sm-12">
                        <label for="repeatPassword" class="form-label">Repeat Password</label>
                        <input type="password" class="form-control" id="repeatPassword">
                      </div>
                    </div>                   
                    <a href="" class="btn btn-primary w-100 py-8 mb-4 rounded-2">Sign Up</a>
                    <div class="d-flex align-items-center">
                      <p class="fs-4 mb-0 text-dark">Already have an Account?</p>
                      <a class="text-primary fw-medium ms-2" href="sign_in.html">Sign In</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <!--  Customizer -->
    <!--  Import Js Files -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/simplebar/dist/simplebar.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--  core files -->
    <script src="js/app.min.js"></script>
    <script src="js/app.init.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="js/custom.js"></script>
    <!--  current page js files -->
    <script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="js/dashboard.js"></script>
  </body>
</html>