<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmenta :: head_link_up"></head>

<body>
    <div th:replace="fragmenta :: preloader"></div>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100">
        <div class="position-relative z-index-5">
          <div class="row">
            <div class="col-xl-7 col-xxl-8">
              <a th:href="@{/}" class="text-nowrap logo-img d-block px-4 py-9 w-100">
                <img th:src="@{images/logo/dark-logo.svg}" width="180" alt="MASSMS">
              </a>
              <div class="d-none d-xl-flex align-items-center justify-content-center" style="height: calc(100vh - 80px);">
                <img th:src="@{/images/backgrounds/login-security.svg}" alt="Security" class="img-fluid" width="500">
              </div>
            </div>
            <div class="col-xl-5 col-xxl-4">
              <div class="authentication-login min-vh-100 bg-body row justify-content-center align-items-center p-4">
                <div class="col-sm-8 col-md-6 col-xl-9">
                  <h2 class="mb-3 fs-7 fw-bolder">Welcome to MASSMS</h2>
                  <p class=" mb-9">Your Dashboard</p>

                  <div th:if="${param.error}" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                    <button
                            type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                    </button>
                    <strong>Sign in Error - </strong> Invalid username or password
                  </div>

                  <div th:if = "${param.logout}" class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                    <button
                            type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="alert"
                            aria-label="Close">

                    </button>
                    <strong>Log Out - </strong> You have been logged out from MASSMS
                  </div>

                  <div th:if="${success}" class="alert alert-success alert-dismissible bg-success text-white border-0 fade show">
                    <button
                            type="button"
                            class="btn-close btn-close-white"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                    </button>
                    <strong>Success - </strong> <span th:text="${success}"></span>
                  </div>

                  <div class="position-relative text-center my-4">
                    <p class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">Sign In</p>
                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                  </div>
                  <form th:action="@{/do-login}" method="post">
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="email" id="username" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-4">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2">
                      <i class="ti ti-send fs-4 me-2"></i> Sign In
                    </button>
                    <div class="d-flex align-items-center justify-content-center">
                      <p class="fs-4 mb-0 fw-medium">New to MASSMS?</p>
                      <a class="text-primary fw-medium ms-2" th:href="@{/register}">Create an account</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div th:replace="fragmenta :: scripts"></div>
    </body>
</html>